<!DOCTYPE html>
<html ng-app="myApp" lang = "en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Historique des games</title>
    <meta name="description" content="page principale: historique des games">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="js/module.js"></script>
    <script src="js/mainLoLController.js"></script>
    <link rel="stylesheet" href="css/index_style.css">
</head>

<body>
	<header>
		<nav>
			<ul>
				<li id="home"><a href="#">Home page</a>
				<li id="opgg"><a href="https://www.op.gg/summoners/euw/0ptimisation-EUW" target="_blank">OPGG</a>
				<li id="statistiques"><a href="statistiques.html">Statistiques</a>
			</ul>
		</nav>
	</header>
	
	<div id="image_principale">
		<h1 id=titre_index>League of Legends</h1>
		<div id="trait"></div>
		<h3>0ptimisation</h3>
	</div>
	
	<div id= "historique" ng-controller="mainLoLController">
    	<h2>Historique des games</h2>
		<div class="search_container">
			<div>
			    <input placeholder="find a champion" id="searchChamp" name="searchChamp" ng-model="searchChamp"/>
			</div>
			<div>
			    <input placeholder="find a matchup" id="searchMatchup" name="searchMatchup" ng-model="searchMatchup"/>
		    </div>
		    <div id="">
		    	<p style=" font-size: 18px;">{{totalWinrate}} winrate sur {{nbGames}} games</p>
		    </div>
		</div>
	
	    <table class="custom-table">
	        <tr>
	            <th>Issue</th>
	            <th>Lane</th>
	            <th>Champion</th>
	            <th>Matchup</th>
	        </tr>
	        <tr ng-repeat="x in games | filter:rowContainsChampion | filter:rowContainsMatchup">
	            <td ng-class="{'issue-victory': x.issue === 'Victoire', 'issue-defeat': x.issue === 'Défaite'}">{{x.issue}}</td>
	            <td>{{x.lane}}</td>
	            <td>{{x.champion}}</td>
	            <td>{{x.matchup}}</td>  
	        </tr>
	    </table>
    </div>

    <br>

	<h2>à rajouter dans l'app: </h2>
	 <p>
	-problème d'affichage des stats au premier chargement de la page<br>
	-problème d'adaptation du format de la page<br>
	-rajouter un bouton "up" en bas de la page de stats<br>
	-regrouper les Get requests grâce à des ResponseEntity<br>
    -ne mettre que les winrates des champions contre lesquels j'ai joué 3 games minimum ?<br>
    </p>
    
    <footer>
	    <a href="https://www.youtube.com/watch?v=bZ3SC6PvAC8" target="_blank">Tuto Youtube HTML+CSS</a> <br>
    </footer>

</body>
</html>