/* index_style.css */
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&family=Dancing+Script:wght@400..700&display=swap');

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Advent Pro', sans-serif;
	padding: 0;
	margin: 0;
}

ul {
	padding: 0;
	margin: 0;
}

li {
	list-style-type: none;
}

h1 {
	text-align: center;
	padding-top: 60px;
	font-size: 5em;
}

h2 {
	text-transform: uppercase;
	padding-top: 10px;
	font-size: 2em;
	margin: 0;
}

a {
	text-decoration: none;
	color: black;
}


/* ***********************NAVBAR*********************** */
nav {
	overflow: hidden;
	background-color: #FFFAE1;
	position: fixed;
	width: 100%;
	opacity: 0.9;
}

header li {
	float: right;
	font-size: 1.2em;
}

header li a {
	text-decoration: none;
	display: block;
	text-align: center;
	padding: 18px 16px;
}

#home {
	font-family: 'Dancing Script', 'cursive';
	font-weight: bold;
	float: left;
}


/* *********************** IMAGE PRINCIPALE *********************** */
#image_principale {
	padding-top: 60px;
	background: url(media/image-principale.jpg) no-repeat fixed 50% 50%;
	background-size: cover;
	height: 599px;
}

#titre_index {
	font-family: 'Dancing Script', cursive;
	color: antiqueWhite;
	margin-top: 40px;
	text-shadow: 1px 3px 2px black;
}

#trait {
	height: 1px;
	width: 25%;
	margin: -3px auto;
	background-color: #FFFAE1;
	box-shadow: 1px 3px 2px black;
}

h3 {
	text-align: center;
	color: antiqueWhite;
	font-size: 3em;
	text-shadow: 1px 3px 2px black;
}


/* *********************** HISTORIQUE *********************** */
#historique {
	background-color: #FFFAE1;
	padding: 10px 0px 30px 0px;    /* haut droite bas gauche */
}

.search_container {
	display: flex;
	flex-wrap: wrap;
    align-items: center;
    margin-right: 50px;
    justify-content: space-between;
    padding: 0px 5%;
}

input {
	font-size: 1em;
	font-family: 'Advent Pro', sans-serif;
}

table {
    width: 100%;
}

.custom-table, .custom-table th, .custom-table td {
    border: 1px solid black; /* Appliquer une bordure de 1px de couleur noire */
    border-collapse: collapse; /* Pour éviter les doubles bordures entre les cellules */
}

.issue-victory {
    color: green;
}
.issue-defeat {
    color: red;
}

/* *********************** FOOTER *********************** */
footer {
	background-color: #524A3A;
	color: #FFFAE1;
	margin: 0;
	padding: 1px;
}